
.article {
    background: white;
    min-width: 600px;
    border-radius: 20px;
    padding: 25px 50px 40px;

	&Title {
		font-size: 40px;
		font-weight: normal;
		text-align: center;
		margin-bottom: 0.3em;
	}

	&Section {
		padding-top: 15px;
		padding-bottom: 15px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&Text {
		text-align: center;
	}
}


